AR_HololensGame/Packages/com.ptc.vuforia.engine-10.3.2.tgz
AR_HololensGame/Library/PackageCache/com.ptc.vuforia.engine@b73264f24bda-1635979565000/Vuforia/Plugins
AR_HololensGame/Library/PackageCache/
AR_HololensGame/Library/ArtifactDB
AR_HololensGame/Assets/Editor/Migration/com.ptc.vuforia.engine-10.3.2.tgz

